<div class="page-default" ng-controller="DefaultController">
    <div class="chimeverse-branding noselect">
        <img src="./resources/images/logo.png" srcset="./resources/images/logo@2x.png 2x" alt=""
            class="chimeverse-branding__img" />
        <h3 class="chimeverse-branding__header"><br>{{appInfo.APP_NAME}} Beta</h3>
        <div class="chimeverse-branding__version">
            <span>v{{appInfo.metadata.VERSION}}</span>
            <p ng-if="appInfo.metadata.BUILD_NUMBER">
                <span>Build {{appInfo.metadata.BUILD_NUMBER}}</span>
             </p>
        </div>
    </div>
    <div class="conversejs-adoption">
        <div id="conversejs"></div>
    </div>
</div>
