.page-about {
    color: #ccc;
    background: lightgrey;
    border-radius: 6px;
    margin: auto;
    position: absolute;
    top: 28px; 
    left: 7.5%; 
    right: 7.5%;
    bottom: inherit; 
    min-width: 607px;
    max-width: 700px;
    transform: translate(0%, 0%);
    z-index: 1040;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
}

.about-card {
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    min-width: 605px;
    padding: 30px;
}

.about-card__logo {
    max-width: 50px;
    max-height: 50px;
}

.about-card-dark {
    background: var(--chat-content-background-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    min-width: 605px;
    max-width: 698px;
    z-index: 1041;
    top: 1px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
    padding-bottom: 25px;
}

.about-card__content {
    display: flex;
    font-size: var(--font-size);
    text-align: left;
}

.about__title {
    padding: 0px 25px;
    font-family: var(--heading-font);
    padding-top: 18px;
    padding-bottom: 17px;
    border-bottom: 1px solid lightgray;
    font-size: 1.5rem;
    font-weight: 700;
    color: lightgrey;
}

.about__title-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: lightgrey;
}

.about__title-version {
    padding: 0px 2px;
    font-size: 16px;
}

.about-title-inline {
    display: table;
    width: 100%;
    margin: auto;
}

.inlineRight {
    display: table-cell;
    text-align: right;
}

.inlineLeft {
    display: table-cell;
    text-align: left;
}
 
.about__description {
    font-family: var(--normal-font);
    padding: 0px 25px;
}

.about__description_writeup {
    font-family: var(--normal-font);
    padding-top: 0.5em; 
    padding-bottom: 0px; 
}

.debug_info {
    font-family: var(--normal-font);  
    padding-top: 0px; 
    padding-bottom: 0px; 
}

.debug_info_base {
    padding-bottom: 0px;
    font-size: 5px; 
}

.about__description .debug_info p {
    margin-top: 0.15em; 
    margin-bottom: 0.15em; 
    font-family: var(--normal-font);
}

.about__description .debug_info p > span {
    display: inline-block;
    width: 10.2rem;
    font-family: var(--normal-font);
}

.about__action {
    text-align: center;
    padding-top: 5px;
}

.about__close-button {
    border: 0px solid #ddd;
    background: var(--secondary-color);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
 }

 .about__close-button:hover {
    background-color: var(--secondary-color-dark) !important;
    border-color: transparent !important;
 }

 .about__x-close-button {
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
    background: var(--chat-content-background-color);
    color: gray;
    border: none;
 }

 .about__x-close-button:hover {
    color: lightgray  !important;
}

 .about__copyright {
    text-align: center;
 }
