.page-about {
    color: #ccc;
    background: #444;
    border-radius: 5px;
    position: absolute;
    top: 0%;
    left: 22%;
    right: 22%;
    bottom: inherit;
    transform: translate(0%, 0%);
    z-index: 1040;
    padding: 2px;
}

.about-card {
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    padding: 30px;
}

.about-card__logo {
    max-width: 50px;
    max-height: 50px;
}

.about-card-dark {
    background: var(--controlbox-pane-background-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-width: 440px;
    z-index: 1041;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.about-card__content {
    display: flex;
    padding-bottom: 5px;
    font-size: var(--font-size);
    text-align: justify;
}

.about__title {
    padding: 0px 15px;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    font-weight: 700;
}

.about__description {
    padding: 0px 15px;
    font-family: var(--normal-font);
}

.about__description .debug_info p {
    margin: 0em;
}

.about__description .debug_info p > span {
    display: inline-block;
    width: 10rem;
}

.about__description2 {
    padding: 0px 2px;
    font-size: 12px;
}

.about__action {
    text-align: center;
}

.about__close-button {
    border: 0px solid #ddd;
    background: var(--primary-color);    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
 }

 .about__copyright {
    text-align: center;
 }
